@font-face {
    font-family: 'junction_regularregular';
    src: url('../fonts/Junction-webfont.eot');
    src: url('../fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Junction-webfont.woff') format('woff'),
         url('../fonts/Junction-webfont.ttf') format('truetype'),
         url('../fonts/Junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	margin:0;
	padding: 0;
	font-family: Georgia, Garamond, Times, serif;
	}

/*select all elements whose class attributes includes "contain"*/
.contain {
	width:940px; 
	margin:0 auto;
}

.visually-hidden {
	position:fixed;
	top: -999px;
}
/*clear fixes*/
#content-wrapper:after {
	content: "";
	display: table;
	clear: both;
}

/*select all elements whose id attribute equals "body-header"*/
#body-header {
	margin-top: 40px;
	margin-bottom: 16px;
}

#body-header a {
	width: 222px;
	display: block;
	margin: 0 auto;

}
#body-header h1 {
	margin: 0;
}
/*margin is outside the border, padding is inside the border*/
#primary-nav {
	border-top: solid 1px #cfcfcf;
	border-bottom: solid 1px #cfcfcf;
	color: #cfcfcf;
	text-align: center;
}

#primary-nav a:link,
#primary-nav a:visited {
	color: inherit; 
	text-decoration: none;
	text-transform: uppercase;
	font:normal 18px/37px 'junction_regularregular';
	display: inline-block;
	margin-right: 33px;
}
/*select all elements whose tagname = 'a' and is the last of its type and is a descendent of an element whose id="primary-nav"*/
#primary-nav a:link:last-of-type; {
	margin-right: 0;
}

#primary-nav a:hover {
	color: #2f2e46;
	border-top: solid 3px #2f2e46;
	margin-top: -3px;
}
#content {
	width: 700px;
	float: left;
}

#sidebar {
	width: 220px;
	float: right;
}

#sidebar ul{
	list-style-type: none;
}

footer {
	clear:both;
	display:block;

}
